/* general settings */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo-web:focus,
.logo-web:hover,
.logo-studio:focus,
.logo-studio:hover,
.menu-item:hover,
.menu-item:focus,
.contacts-item:hover,
.contacts-item:focus,
.logo-web-footer:focus,
.logo-web-footer:hover,
.logo-studio-footer:focus,
.logo-studio-footer:hover,
.mobile-menu-item:focus {
    color: #404bbf;
}




/* HEADER MOBILE STYLES */


.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-class{
    background: var(--WHITE, #FFF);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-web {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
    padding: 24px 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: var(--DAIRY, #FCFCFC);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}


.review-form-description {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
}

.review-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus+.review-form-field-icon {
    border-color: #4D5AE5;
    outline-offset: 4px;
    outline-color: transparent;
    fill: #4D5AE5;
}

.review-form-field:focus {
    border-color: #4D5AE5;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    resize: none;
    line-height: 1.17;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.review-form-message:focus {
    border-color: #4D5AE5;
    outline-offset: 4px;
    outline-color: transparent;
}

.review-form-checkbox-wraper {
    margin-bottom: 24px;

}

.review-form-field-wrapper-textarea {
    margin-bottom: 16px
}

.review-form-checkbox:checked+.review-form-checkbox-label>.checkbox-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.review-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.icon-ckeckbox {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label-span:hover .icon-ckeckbox,
.checkbox-label-span:focus .icon-ckeckbox {
    fill: #ffffff;
}

.review-form-btn {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: var(--IRIS, #4D5AE5);
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-btn:hover,
.review-form-btn:focus {
    background-color: #404BBF;
    fill: #ffffff;
}

.privacy-policy-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
}

.order-button {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: var(--IRIS, #4D5AE5);
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:focus,
.order-button:hover {
    background-color: #404BBF
}

.svg-area {
    display: none;
}

.benefits {
    background: #FFF;
    padding: 96px 0;
}

.benefit-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

.benefit-item {
    width: 100%;
}

.benefit-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.benefit-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team {
    background: var(--CLOUD, #F4F4FD);
    padding: 72px 0
}

.team-list-cards {
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.team-cards {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.emploer {
    padding: 32px 0
}

.name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.position {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.section-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.svg-icon-media {
    fill: #f4f4fd;
}



.list-project {
    display: flex;
    row-gap: 48px;
    justify-content: center;
    flex-direction: column;
}

.portfolio-cards:hover .text-overlay {
    transform: translateY(0%);
}

.portfolio-cards:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cards {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
    background: #FFF;
    padding-top: 96px;
    padding-bottom: 96px;

}


.naming {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.project-type {
    color: var(--SLATE, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.img-relative {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--IRIS, #4D5AE5);
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding: 100px 0;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-web-logo {
    display: inline-block;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-studio-logo {
    color: var(--CLOUD, #F4F4FD);
}

.footer-description{
    text-align: center;
}

.footer-description-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 288px;
    text-align: justify;
    margin-bottom: 72px;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}

.text-social-media {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31d0aa;
}

.text-in-footer-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.field-for-email {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.field-for-email::placeholder {
    color #ffffff;
}

.btn-subscribe {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    margin-left: 16px;
}



@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px){
    .menu-list {
            display: none;
        }
    
    .contacts {
            display: none;
        }

    .header-class{
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .mobile-open-btn {
            border: none;
            background-color: transparent;
            padding: 0;
            line-height: 0;
        }
    
        .mobile-open-btn-icon {
            fill: #2F2F37;
        }
    
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: inherit;
            background-color: #FFF;
            transform: translateX(100%);
            transition: transform 250ms linear;
        }

        .mobile-menu.is-open {
            transform: translateX(0%);
        }
        
        
        .mobile-menu-close-btn {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.10);
            padding: 0;
            line-height: 0;
            opacity: 0.6;
            position: absolute;
            top: 24px;
            right: 24px;
            margin-bottom: 54px;
        }
        
        .mobile-menu-close-btn-icon {
            fill: #2E2F42;
        }

        .mobile-navigation-menu{
            margin-top: 72px;
            margin-bottom: 168px;
        }

        .mobile-menu-list{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .mobile-menu-item{
            color: var(--NAVY-BLUE, #2E2F42);
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }

        .mobile-list-contacts{
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 48px;
        }

        .mobile-contacts-item{
            color: var(--SLATE, #434455);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.4px;
        }

        .mobile-contacts-item:focus{
            color: #4D5AE5;
        }

        .mobile-menu-social-list {
            display: flex;
            justify-content: center;
            gap: 40px;
        }
    
        .mobile-menu-social-list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #4D5AE5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .mobile-menu-svg-icon-media {
            fill: #f4f4fd;
        }

        .modal {
            width: 288px;
            min-height: 623px;
        }

        .hero{
            padding: 72px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/mobile-bg.jpg");
        }

        .hero-title{
            font-size: 36px;
            margin-bottom: 72px;
            width: 220px;
            height: 160px;
            line-height: 40px;
            letter-spacing: 0.72px;
        }
}





/* TABLET-STYLE */





@media screen and (min-width: 768px) {


    .container {
        width: 768px;
    }

    /* HEADER-TABLET-STYLE */

    .menu-list{
        display: flex;
    }

    .contacts {
        display: flex;
    }

    .mobile-open-btn{
        display: none;
    }

    .mobile-menu{
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-list {
        display: flex;
        gap: 40px;
    }

    .menu-item {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-item-current {
        color: #404bbf;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-item-current::after {
        display: block;
        content: "";
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
    }

   .list-contacts {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 12px;
   }

   .contacts-item {
        color: var(--SLATE, #434455);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal{
        width: 408px;
        min-height: 584px;
   }

   .hero {
       flex-direction: column;
       padding: 188px 0;
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/bg.jpg");
       max-width: 1440px;
       background-repeat: no-repeat;

   }

   .hero-title {
       color: var(--WHITE, #FFF);
       text-align: center;
       font-size: 56px;
       font-weight: 700;
       line-height: 1.07;
       letter-spacing: 1.12px;
       max-width: 496px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 48px;
   }

   .benefit-list{
    flex-direction: row;
   }

   .team-list-cards {
        flex-direction: row;
   }

   .list-project {
       display: flex;
       flex-wrap: wrap;
       row-gap: 72px;
       column-gap: 24px;
       justify-content: center;
       flex-direction: row;
   }

   .portfolio-cards {
       width: 356px;
   }

}



@media screen and (min-width: 768px) and (max-width: 1157px) {

    .list-contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
    
        .contacts-item {
            color: var(--SLATE, #434455);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.48px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .benefit-item{
            width: calc((100% - 72px)/2);
        }

        .benefit-list{
            flex-wrap: wrap;
        }

        .team-list-cards {
            column-gap: 24px;
            row-gap: 64px;
            flex-wrap: wrap;
        }

        .team-cards{
            width: calc((100% -108px)/2);
        }

        





}


















@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    /* HEADER-DESKTOP */


    .list-contacts {
       display: flex;
       flex-direction: row;
       column-gap: 40px;
       justify-content: center;
       align-items: center;
   }

   .contacts-item {
       color: var(--SLATE, #434455);
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.32px;
       padding: 24px 0;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .benefits {
       padding: 120px 0;
   }


   .benefit-list {
       gap: 24px;
   }

   .benefit-item:first-child {
       width: calc((100% - 72px) / 4);
   }

   .benefit-item {
       width: 264px;
   }

   .svg-area {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       border-radius: 4px;
       border: 1px solid var(--LIGHT-SLATE, #8E8F99);
       background: var(--CLOUD, #F4F4FD);
       margin-bottom: 8px;
       height: 112px;

   }


   .benefit-title {
       color: var(--NAVY-BLUE, #2E2F42);
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
       letter-spacing: 0.4px;
       margin-bottom: 8px;
       text-align: start;
   }

   .team {
        padding: 120px 0
   }

   .team-list-cards:first-child {
        width: calc((100% - 72px) / 4);
    }

    .team-list-cards {
        gap: 24px;
    }   

    .list-project {
            flex-wrap: wrap;
            row-gap: 48px;
            column-gap: 24px;
        }
    
    .list-project:first-child {
            width: calc((100% - 48px) / 3);
    }

    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }

}